[Desktop Entry]
Name=ADA 2025 Software Installer
Comment=Install software containers on your machine
Exec=sudo /opt/ada2025-software-installer/env/bin/python3 /opt/ada2025-software-installer/app.py
Icon=/opt/ada2025-software-installer/static/ada.png
Terminal=false
Type=Application
Categories=Utility;