{% extends 'base.jinja2' %}
{% block content %}
    <body>
        <!-- Search -->
        <form action="/search" method="GET" style="text-align: center;">
            <input type="text" id="search" name="search" placeholder="Enter software name..." style="width: 50%">
            <input type="submit" value="Search">
        </form>
        <br/>

        <!-- Flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                {% if category == "danger" %}
                <p class="w3-red w3-padding-large w3-round">{{ message }}</p>
                {% else %}
                <p class="w3-green w3-padding-large w3-round">{{ message }}</p>
                {% endif %}
            {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- Software list -->
        {% for software in software_info %}
            <div class="w3-card w3-padding w3-round w3-animate-opacity" style="margin-top: 20px; display: flex;">
                <div style="width: 83%">
                    <p class="card-text"><b class=".uppercase">{{ software[0] }}</b></p>
                    <p class="card-text">Latest ver: {{ software[1] }}</p>
                </div>
                <div style="display: flex; margin-left: auto; margin-top: auto; margin-bottom: auto;">
                    <button class="ada-blue download-button-container" onclick="redirectToVersionsPage('{{ software[0] }}')" title="Version history">
                        <i class="fa-solid fa-clock-rotate-left icon"></i>
                    </button>
                </div>
                <div style="display: flex; margin-left: auto; margin-top: auto; margin-bottom: auto;">
                    <button class="download-button-container" onclick="downloadSoftware('{{ software[0] }}','{{ software[1] }}')" title="Download latest version">
                        <i class="fa-regular fa-circle-down icon" style="font-size: 28px"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    </body>
{% endblock %}

{% block javascript %}
    <script>
        function redirectToVersionsPage(software_name) {
            window.location.href = "/versions/" + software_name;
        }
    </script>
{% endblock %}