{% extends 'base.jinja2' %}
{% block content %}
    <body>
        <!-- Search -->
        <form action="/search" method="GET" style="text-align: center;">
            <input type="text" id="search" name="search" placeholder="Enter software name..." style="width: 50%">
            <input type="submit" value="Search">
        </form>
        <br/>
        
        <!-- Software list -->
        {% for software in software_info %}
            <div class="w3-card w3-padding w3-round w3-animate-opacity" style="margin-top: 20px; display: flex;">
                <div style="width: 83%">
                    <p class="card-text"><b class=".uppercase">{{ software[0] }}</b></p>
                    <p class="card-text">Latest ver: {{ software[1] }}</p>
                </div>
                <div style="display: flex; margin-left: auto; margin-top: auto; margin-bottom: auto;">
                    <a class="ada-blue download-button-container" href="/versions/{{ software[0] }}">
                        <i class="fa-solid fa-clock-rotate-left icon"></i>
                    </a>
                </div>
                <div style="display: flex; margin-left: auto; margin-top: auto; margin-bottom: auto;">
                    <a class="download-button-container">
                        <i class="fa-regular fa-circle-down icon"></i>
                    </a>
                </div>
            </div>
        {% endfor %}


    </body>
{% endblock %}